<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="{% url 'movies:home' %}">Home</a>
        <a href="{% url 'movies:add_movie' %}">Add Movie</a>
        <a href="{% url 'movies:all_movies' %}">All Movies</a>
    </nav>
    <div>
        <h1>Netflix</h1>
    </div>
    <form method="post" action="{% url 'movies:add_movie' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label>Movie Name</label>
            <input type="text" name="title">
        </div>
        <div>
            <label>Description</label>
            <textarea name="description"></textarea>
        </div>
        <div>
            <label>Trailer link</label>
            <input type="text" name="trailer_link">
        </div>
        <div>
            <label>Poster</label>
            <input type="file" name="poster">
        </div>
        <div>
            <label>Choose Category</label>
            <select name="category">
                {% for cat in categories %}
                    <option value="{{cat.id}}">{{cat.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>Release date</label>
            <input type="date" name="release_date">
        </div>
        <div>
            <input type="submit" value="Add Movie">
        </div>
        
    </form>
</body>
</html>