{% extends 'base.html ' %}

{% block title %}Netflix - All Movies{% endblock %}

{% block content %}
    <h1>All Movies</h1>
    <div>
        {% for movie in movies %}
            <div>
                <img src="{{movie.poster.url}}" style="width: 200px;height: 250px;">
                <h4>{{movie.name}}</h4>
                <a href="{% url 'movies:edit_movie' movie.id %}">Edit</a>
                <a href="{% url 'movies:movie_detail' movie.id %}">Detail</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}