{% extends 'base.html ' %}

{% block title %}Netflix - All Movies{% endblock %}
{% block extra_head %}<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">{% endblock %}
{% block content %}
    <h1>All Movies</h1>
    <div>
       <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu">
            {% for cat in categories %}
                <li><a class="dropdown-item" href="{% url 'movies:movie_filter_category' cat.slug %}">{{cat.name}}</a></li>
            {% endfor %}
            
        </ul>
    </div>
        </select>
    </div>
    <div>
        {% for movie in movies %}
            <div>
                <img src="{{movie.poster.url}}" style="width: 200px;height: 250px;">
                <h4>{{movie.name}}</h4>
                <a href="{% url 'movies:edit_movie' movie.id %}">Edit</a>
                <a href="{% url 'movies:movie_detail' movie.id %}">Detail</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}