<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{% url 'movies:home' %}">Home</a>
        <a href="{% url 'movies:add_movie' %}">Add Movie</a>
        <a href="{% url 'movies:all_movies' %}">All Movies</a>
        {% if user.is_authenticated %}
        <a href="{% url 'credentials:signout' %}">Logout</a>
        {% else %}
        <a href="{% url 'credentials:signin' %}">Login</a>
        <a href="{% url 'credentials:signup' %}">Register</a>
        {% endif %}
    </nav>
    {% block content %}

    {% endblock %}
    <footer>
        <div>
            <p>NetFlix - Copyright 2017</p>
        </div>
    </footer>

</body>
</html>