<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="{% url 'movies:home' %}">Home</a>
        <a href="{% url 'movies:add_movie' %}">Add Movie</a>
        <a href="{% url 'movies:all_movies' %}">All Movies</a>
    </nav>

    <div>
        <h1>Edit Movie</h1>
    </div>

    <div style="display: flex;">
        <div>
            <img src="{{movie.poster.url}}" style="width: 250px;height: 300px;">
        </div>
        <div>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label>Movie Name</label>
                    <input type="text" name="title" value="{{movie.name}}">
                </div>
                <div>
                    <label>Description</label>
                    <textarea name="description">{{movie.description}}</textarea>
                </div>
                <div>
                    <label>Trailer link</label>
                    <input type="text" name="trailer_link" value="{{movie.trailer_link}}">
                </div>
                <div>
                    <label>Poster</label>
                    <input type="file" name="poster">
                </div>
                <div>
                    <label>Release date</label>
                    <input type="date" name="release_date" value="{{movie.release_date|date:'Y-m-d'}}">
                </div>
                <div>
                    <input type="submit" value="Save Changes">
                </div>
        
            </form>
        </div>
    </div>
    
    
</body>
</html>