{% extends 'base.html ' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div>
        <div>
            {% for msg in messages %}
              <div class="alert alert-{{msg.tags}}" role="alert">
                {{msg}}
              </div>
            {% endfor %}
        </div>
        <form method="post" action="{% url 'credentials:signin' %}">
            {% csrf_token %}
            <div>
                <label>E-mail</label>
                <input type="text" name="email">
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password">
            </div>
            <div>
                <input type="submit" value="SignIn">
            </div>
        </form>
    </div>
{% endblock %}