{% extends 'base.html ' %}

{% block title %}Netflix - {{movie.name}}{% endblock %}

{% block content %}
    <h1>{{movie.name}}</h1>
    <div>
        <img src="{{movie.poster.url}}" style="width: 200px;height: 250px;">
    </div>
    <div>
        <p>Release Date : {{movie.release_date}}</p>
    </div>
    <p>{{movie.description}}</p>
    <p><a href="{{movie.trailer_link}}">Trailer link</a></p>
    <p>{{movie.category.name}}</p>

    <!-- Add Cast -->
    <div class="add-cast">
        <form method="post" action="{% url 'movies:add_cast' movie.id %}">
            {% csrf_token %}
            <div>
                <label>Enter actor name</label>
                <select name="actor">
                    {% for actor in all_actors %}
                        <option value="{{actor.id}}">{{actor.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label>Enter actor name</label>
                <input type="text" name="character_name">
            </div>
            <input type="submit" value="Add cast">

        </form>
    </div>
{% endblock %}